<section data-ng-controller="MatchesController" data-ng-init="findOne()">

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 data-ng-bind="match.name"></h1>
		<p>{{ match.teamA.name }}</p>
		<p>{{ match.teamB.name }}</p>
                    </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr class="heading">
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text current-player">
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr class="partner">
                                <td>2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr class="info">
                                <td>3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="current-player">
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr class="partner">
                                <td>2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4"><a class="btn btn-primary">Click me</a></div>
                <div class="col-md-4"><a class="btn btn-primary">Click me</a></div>
                <div class="col-md-4"><a class="btn btn-primary">Click me</a></div>
            </div>
        </div>
    </div>
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4"><a class="btn btn-primary">Click me</a></div>
                <div class="col-md-4"><a class="btn btn-primary">Click me</a></div>
                <div class="col-md-4"><a class="btn btn-primary">Click me</a></div>
            </div>
        </div>
    </div>
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4"><a class="btn btn-primary">Click me</a></div>
                <div class="col-md-4"><a class="btn btn-primary">Click me</a></div>
                <div class="col-md-4"><a class="btn btn-primary">Click me</a></div>
            </div>
        </div>
    </div>

</section>